html {
  overflow-y: scroll;
}

body {
    line-height: 1.6;
    font-size:18px;
    color: #4B4B4B;
}

.banner {
    position: relative;
    height: 100px;
    font-family: sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.navigation {
    height: 50px;
    width: 750px;
    border-radius: 10px;
    background-color: #E3E3E3;
    margin: auto;
    position: relative;
    bottom: -5px;
}

.line {
    display: block;
    background-color: #4B4B4B;
    height: 3px;
    width: 800px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}

.text {
    background-color: #EEEEEE;
    border-radius: 7px;
    width: 800px;
    padding: 7px;
    margin: auto;
}

p {
    margin-left: 20px;
}

a {
    color: #4B4B4B;
}

.button {
    padding: 10px;
    border: 1px;
    border-radius: 2px;
    border-color: #3B3B3B;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15 px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 11px;
}

.button-active {
    padding: 10px;
    border: 1px;
    border-radius: 2px;
    border-color: #3B3B3B;
    background-color: #4B4B4B;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 15 px;
    font-weight: bold;
    display: inline;
    position: relative;
    top: 11px;
}

.pretty-link {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.pretty-link-active {
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.pretty-link:hover {
    color: white;
}

.nav-alignment {
    margin-left: 150px;
    position: relative;
    bottom: -7px;
}

.banner-pos {
    position: relative;
    top: 15%;
}
